form{
    margin: auto;
    text-align: center;
    background-color: aliceblue;
    padding: 20px;
}
table.container{
    width: 400px;
    
}
table{
    margin: auto;
    text-align: center;
    border: 2px solid black;
    padding: 8px;
    border-collapse: collapse;
    
}