header{
    margin: auto;
    text-align: center;

    background-color: aqua;
    color: black;
    padding: 20px;
    border: 200px;
}
h6{
    opacity: 0.5;
    margin: auto;
    text-align: left;
    width: 400px;
}
h1{
    margin: auto;
    text-align: left;
    width: 400px;
}
h4{
    margin: auto;
    text-align: left;
    width: 400px;
}
.fa-facebook {
    background: black;
    color: white;
    width: 20px;
    font-size: 10px;
    padding: 5px;

}
.fa-linkedin {
    background: black;
    color: white;
    width: 20px;
    font-size: 10px;
    padding: 5px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
a{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}
p{
    margin: auto;
    text-align: justify;
    width: 600px;
}
.taghead{
    margin: auto;
    text-align: justify;
    width: 600px;
}
ol{
    margin: auto;
    text-align: left;
    width: 500px;
}
iframe{
    margin: auto;
    width: 600px;
    display: block;
}
footer{
    margin: auto;
    
    text-align:start ;
    width: 50%;
    
    background-color: rgb(192, 179, 179); 
    
    border: 200px;
    padding: 20px;
    

}