header{
    margin: auto;
    text-align: center;
    width: auto;
    padding: 20px;
    background-color: black;
    color: white;
}
table.container{
    width: 400px;
}
table{
    
    margin: auto;
    text-align: center;
    width: 70%;
    border: 2px solid black;
    padding: 8px;
    border-collapse: collapse;
}
th,
td{
    padding: 8px;
    border: 2px solid black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.2em;



}
